body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    background-color: #444444;
    color: white;
    font-family: sans-serif;
}
.container{
    display: flex;
    margin: 20px;
}
main{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    width: 10%;
    font-family: sans-serif;
    flex: 2.5;
}
.card-container{
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 26%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.card img{
    width: 100px;
    height: 100px;
    border-radius:50%;
    object-fit: cover;
}
button{
    background-color:#03344C;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 20px;
}
aside{
    padding: 20px;
    align-items: start;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    flex: 1;
    font-family: sans-serif;
}
.cardsss{
    display: flex;
}
.cardss{
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 28%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;

}
.cardss img{
    margin: 5px;
    width: 220px;
    height: 200px;
    border-radius:20px;
    object-fit: cover;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
}
.h{
    margin-left: 40%;
    font-family: sans-serif;
}
.h  ul {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    list-style-type: none;
}
.h  ul li a {
    margin: 20px;
    color: #fff;
    text-decoration: none;
}
.btn-teal{
    color: teal;
}
