body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #444444;
    color: white;
    font-family: sans-serif;
}
.container{
    display: flex;
    margin: 20px;
}
main{
    flex: 3;
    background: #fff;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}
.card-container{
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 26%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}
.card img{
    width: 100px;
    height: 100px;
    border-radius:50%;
    object-fit: cover;
}
button{
    cursor: pointer;
    background-color:#03344C;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 20px;
}
aside{
    flex: 1;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}
.cardsss{
    display: flex;
}
.cardss{
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 28%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;

}
.cardss img{
    margin: 5px;
    width: 220px;
    height: 200px;
    border-radius:20px;
    object-fit: cover;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    bottom: 0;
}
.h{
    font-family: sans-serif;
}
.h  ul {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    list-style-type: none;
}
.h  ul li a {
    margin: 20px;
    color: #fff;
    text-decoration: none;
}
.btn-teal{
    color: teal;
}
.btn-teal p:hover{
    text-decoration: underline;
}
.h a:hover{
    text-decoration: underline;
}
.card:hover {
    transform:translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}
header h1{
    margin: 30px;
}
a{
    color: blue;
}
.position{
    position: sticky;
    top: 0;
}